@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

.structure {
  font-family: monospace;
  white-space: pre;
}

.divider {
  width: 55px;
  height: 2px;
  background-color: black;
  margin: 28px 0;
}

@media (min-width: 768px) {
  section:nth-child(odd) .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

body {
  max-width: 1149px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body header .container {
  margin: 65px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .container #logo {
  font-weight: 700;
  font-size: 1.8rem;
}

body header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .container nav ul li {
  list-style-type: none;
  margin-left: 3rem;
}

body header .container nav ul li a {
  font-size: 1.1rem;
  color: #656565;
  text-decoration: none;
}

body header .container nav ul li a:hover {
  text-decoration: underline;
}

body header .header-content {
  background-color: #ffe1bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-content h2 {
  font-size: 2rem;
  margin-top: 138px;
  margin-bottom: 0;
}

body header .header-content h3 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

body header .header-content button {
  cursor: pointer;
  padding: 0 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin: 80px 0 110px;
  font-weight: 400;
  font-size: 1.1rem;
}

body header .header-content button:hover {
  background-color: #222222;
}

body header .header-content button:active {
  background-color: #444444;
  border-radius: 25px;
  border: none;
  outline: 0;
}

body header .header-content button:focus {
  outline: 0;
}

body main h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  margin: 8rem auto 4rem;
}

body main section {
  margin: 6rem 0;
}

body main section .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  body main section .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main section .article .article__image {
  width: 46%;
  height: 560px;
  background-color: #ffe1bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  body main section .article .article__image {
    width: 100%;
  }
}

body main section .article .article__image p {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  color: black;
}

body main section .article .article__image p:before {
  font-size: 4rem;
  content: '«';
}

body main section .article .article__image p:after {
  font-size: 4rem;
  content: "»";
}

body main section .article .article__content {
  width: 46%;
  padding: 1rem;
}

@media (max-width: 768px) {
  body main section .article .article__content {
    width: 100%;
  }
}

body main section h3 {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

body main section h3 strong {
  font-weight: 700;
  font-size: 3.8rem;
}

body main section p {
  color: #656565;
  font-size: 1rem;
}

body main section .article-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section .article-block .article-block__post {
  width: 30%;
}

@media (max-width: 768px) {
  body main section .article-block .article-block__post {
    width: 100%;
  }
}

body footer h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  padding: 4rem;
}

body footer .info {
  background-color: black;
  color: white;
  padding: 2rem;
}

body footer .info .info__container {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pudding: 3rem;
}

body footer .info .info__container a, body footer .info .info__container a:visited {
  color: white;
}

body footer .copyright {
  padding: 2rem 0;
  font-size: 1.5;
  background-color: white;
}

body footer .copyright p {
  color: black;
  text-align: center;
}

body footer .copyright p strong {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */