#superhero-board {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;

    .col {
      width: 200px;
      height: 250px;
      border: none;
      box-sizing: border-box;
      transition: 0.2s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .col:hover {
      border: 5px solid white;
    }

    .col.correct:hover,
    .col.wrong:hover,
    .col.fade:hover {
      box-shadow: none;
    }

    .col.active {
      border: 5px solid yellow;
    }

    .col.correct {
      border: 15px solid green;
    }

    .col.wrong {
      border: 5px solid red;
    }

    .col.fade {
      img {
        opacity: 70%;
      }
    }
  }
}
