@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

.structure {
  font-family: monospace;
  white-space: pre;
}

.divider {
  width: 55px;
  height: 2px;
  background-color: black;
  margin: 28px 0;
}

.hidden-anchor {
  font-size: 0;
}

@media (min-width: 768px) {
  section:nth-child(odd) .article {
    flex-direction: row-reverse;
  }
}
.root {
  max-width: 1149px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.root header .container {
  margin: 65px 0 70px;
  display: flex;
  justify-content: space-between;
}
.root header .container #logo {
  font-weight: 700;
  font-size: 1.8rem;
}
.root header .container nav ul {
  display: flex;
}
.root header .container nav ul li {
  list-style-type: none;
  margin-left: 3rem;
}
.root header .container nav ul li a {
  font-size: 1.1rem;
  color: #656565;
  text-decoration: none;
}
.root header .container nav ul li a:hover {
  text-decoration: underline;
}
.root header .header-content {
  background-color: #ffe1bd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root header .header-content h2 {
  font-size: 2rem;
  margin-top: 138px;
  margin-bottom: 0;
}
.root header .header-content h3 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}
.root header .header-content button {
  cursor: pointer;
  padding: 0 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin: 80px 0 110px;
  font-weight: 400;
  font-size: 1.1rem;
}
.root header .header-content button:hover {
  background-color: #222222;
}
.root header .header-content button:active {
  background-color: #444444;
  border-radius: 25px;
  border: none;
  outline: 0;
}
.root header .header-content button:focus {
  outline: 0;
}
.root main h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  margin: 8rem auto 4rem;
}
.root main section {
  margin: 6rem 0;
}
.root main section .article {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .root main section .article {
    flex-direction: column;
  }
}
.root main section .article .article__image {
  width: 46%;
  height: 560px;
  background-color: #ffe1bd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  .root main section .article .article__image {
    width: 100%;
  }
}
.root main section .article .article__image p {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  color: black;
}
.root main section .article .article__image p:before {
  font-size: 4rem;
  content: "«";
}
.root main section .article .article__image p:after {
  font-size: 4rem;
  content: "»";
}
.root main section .article .article__content {
  width: 46%;
  padding: 1rem;
}
@media (max-width: 768px) {
  .root main section .article .article__content {
    width: 100%;
  }
}
.root main section h3 {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.root main section h3 strong {
  font-weight: 700;
  font-size: 3.8rem;
}
.root main section p {
  color: #656565;
  font-size: 1rem;
}
.root main section .article-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.root main section .article-block .article-block__post {
  width: 30%;
}
@media (max-width: 768px) {
  .root main section .article-block .article-block__post {
    width: 100%;
  }
}
.root footer h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  padding: 4rem;
}
.root footer .info {
  background-color: black;
  color: white;
  padding: 2rem;
}
.root footer .info .info__container {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pudding: 3rem;
}
.root footer .info .info__container a, .root footer .info .info__container a:visited {
  color: white;
}
.root footer .copyright {
  padding: 2rem 0;
  font-size: 1.5;
  background-color: white;
}
.root footer .copyright p {
  color: black;
  text-align: center;
}
.root footer .copyright p strong {
  font-weight: 700;
}

/*# sourceMappingURL=App.css.map */
