@charset "UTF-8";
.structure {
  font-family: monospace;
  white-space: pre;
}

.divider {
  width: 55px;
  height: 2px;
  background-color: black;
  margin: 28px 0;
}

.hidden-anchor {
  font-size: 0;
}

code {
  overflow-wrap: break-word;
}

@media (min-width: 768px) {
  .article:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
button {
  cursor: pointer;
  padding: 0 30px;
  text-decoration: none;
  color: white;
  background-color: black;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: 400;
  font-size: 1.1rem;
}

button:hover {
  background-color: #222222;
}

button:active {
  background-color: #444444;
  border-radius: 25px;
  border: none;
  outline: 0;
}

button:focus {
  outline: 0;
}

.error-message {
  height: 1.5rem;
  margin: 0 0 2rem;
  color: darkred;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 16px;
  min-width: 250px;
}
html body {
  margin: 0;
  padding: 0;
}
html body #root {
  max-width: 1149px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
html body #root header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 65px 0 70px;
}
html body #root header .container #logo {
  font-weight: 700;
  font-size: 1.8rem;
}
html body #root header .container nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}
html body #root header .container nav ul li {
  list-style-type: none;
  margin-left: 3rem;
}
@media (max-width: 768px) {
  html body #root header .container nav ul li {
    margin: 0 1rem;
  }
}
html body #root header .container nav ul li a {
  font-size: 1.2rem;
  color: #656565;
  text-decoration: none;
}
html body #root header .container nav ul li a:hover {
  text-decoration: underline;
}
html body #root header .header-content {
  padding: 110px 0;
  background-color: #ffe1bd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body #root header .header-content h2 {
  font-size: 2rem;
  margin-bottom: 0;
}
html body #root header .header-content h3 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0 0 80px;
}
html body #root main h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  margin: 8rem auto 4rem;
}
@media (max-width: 768px) {
  html body #root main h2 {
    margin: 4rem auto 2rem;
  }
}
html body #root main section {
  margin: 6rem 0;
}
@media (max-width: 768px) {
  html body #root main section {
    margin: 1rem 0;
  }
}
html body #root main section .article {
  display: flex;
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  html body #root main section .article {
    flex-direction: column;
    margin: 0;
  }
}
html body #root main section .article .article__image {
  width: 50%;
  height: 560px;
  background-color: #ffe1bd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  html body #root main section .article .article__image {
    width: auto;
    height: auto;
  }
}
html body #root main section .article .article__image img {
  max-width: 100%;
  max-height: 100%;
}
html body #root main section .article .article__image p {
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
  overflow-wrap: anywhere;
  color: black;
}
html body #root main section .article .article__image p:before {
  font-size: 3.5rem;
  content: "«";
}
html body #root main section .article .article__image p:after {
  font-size: 3.5rem;
  content: "»";
}
html body #root main section .article .article__content {
  width: 50%;
  padding: 1rem;
}
@media (max-width: 768px) {
  html body #root main section .article .article__content {
    width: auto;
  }
}
html body #root main section .article .article__content .good,
html body #root main section .article .article__content .bad,
html body #root main section .article .article__content .neutral {
  padding: 1rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
html body #root main section .article .article__content .good {
  background-color: #4fb443;
}
html body #root main section .article .article__content .bad {
  background-color: #de061a;
}
html body #root main section .article .article__content .neutral {
  background-color: #d9b42c;
}
html body #root main section h3 {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
html body #root main section h3 strong {
  font-weight: 700;
  font-size: 3.8rem;
}
html body #root main section h4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1rem 0 0;
}
html body #root main section h4 strong {
  font-weight: 600;
}
html body #root main section p {
  color: #656565;
  font-size: 1rem;
}
html body #root main section ul li {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
html body #root main section .article-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body #root main section .article-block .article-block__post {
  width: 32%;
}
@media (max-width: 768px) {
  html body #root main section .article-block .article-block__post {
    width: auto;
    padding: 1rem;
  }
}
html body #root footer h2 {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  padding: 4rem;
}
html body #root footer .info {
  background-color: black;
  color: white;
  padding: 2rem;
}
html body #root footer .info .info__container {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body #root footer .info .info__container a,
html body #root footer .info .info__container a:visited {
  color: white;
}
html body #root footer .copyright {
  padding: 2rem 0;
  font-size: 1.5;
  background-color: white;
}
html body #root footer .copyright p {
  color: black;
  text-align: center;
}
html body #root footer .copyright p strong {
  font-weight: 700;
}

/*# sourceMappingURL=App.css.map */
